<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Room</title>
    <link rel="stylesheet" href="../static/style/test.css">
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../static/js/test.js"></script>

<body>
    <!-- <div class="name">
        <input type="text" id="name" placeholder="Please enter your nickname." autocomplete="off">
        <button id="nameBtn">Confirm</button>
    </div> -->
    <div class="gugu2525">
        <% gugu2525.forEach(function(item) { %>
        <img src="../static/image/<%= item %>.png" id="<%= item %>">
        <% }); %>
    </div>
    <div class="jinny">
        <% jinny.forEach(function(item) { %>
        <img src="../static/image/<%= item %>.png" id="<%= item %>">
        <% }); %>
    </div>
    <div id="main">
        <div id="conversation"></div>
        <div id="emoticons">
            <% items.forEach(function(item) { %>
            <img src="../static/image/<%= item %>.png" id="<%= item %>">
            <% }); %>
            <button id="guguBtn">gugu</button>
            <!-- <button id="jinnyBtn">jinny</button> -->
        </div>
        <div id="form">
            <form action="">
                <input id="m" autocomplete=" off" /><button>Send</button>
            </form>
        </div>
    </div>
</body>

</html>